* {
  box-sizing: border-box;
  margin: 0;
}

.contact-heading {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.contact-box {
  margin-top: 5%;
  margin-right: 21%;
  margin-left: 21%;
}
.line {
  color: var(--primary-text-color);
  margin-top: 18px;
}
.contact-box > h2 {
  color: var(--secondary-text-color);
  margin-bottom: 50px;
  margin-top: 25px;
  text-align: center;
}
.contact-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-detail > a {
  background-color: inherit;
  color: rgb(255, 247, 247);
  font-size: 3.5rem;
  margin-top: 20px;
}
.contact-detail > a:hover {
  color: #47b5ff;
  cursor: pointer;
}
.contact-detail > h2 {
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-right: 900px;
}

@media (max-width: 600px) {
  .contact-detail > a {
    font-size: 2.5rem;
  }
  .contact-heading {
    font-size: 2.2rem;
  }
  .contact-box > h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .contact-box {
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media (max-width: 900px) {
  .contact-box {
    margin-left: 3%;
    margin-right: 3%;
  }
}
